/**********************************************
*** MOBILE
*** 360w x 740h
**********************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border-style: solid;
    border-color: black;
    border-width: 1px; */
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    /* background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(back.jpg); */
    background-size: cover;
    background-position: center;
    font-family: Lato;
    font-weight: 300;
    position: relative;
    /* height: 100vh; */
    width: 740px;
    color: #555;
}

.wrapper {
    /* width: 740px; */
    position: relative;
    /* top: 0px;
    left: 0px; */
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.player-0-panel,
.player-1-panel {
    width: 50%;
    float: left;
    padding: 50px;
}



/**********************************************
*** PLAYERS
**********************************************/

.player-name {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    /* letter-spacing: 1px; */
    font-weight: 100;
    /* margin-top: 10px; */
    /* margin-bottom: 5px; */
    position: relative;
}

.player-score {
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    color: #EB4D4D;
    margin-bottom: 70px;
}

.active { background-color: #f7f7f7; }
.active .player-name { font-weight: 300; }

.active .player-name::after {
    content: "\2022";
    font-size: 27px;
    position: absolute;
    color: #EB4D4D;
    top: -4px;
    right: 5px;
    
}

.player-current-box {
    background-color: #EB4D4D;
    color: #fff;
    width: 40%;
    margin: 0 auto;
    padding: 6px;
    text-align: center;
}

.player-current-label {
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 7px;
    color: #222;
}

.player-current-score {
    font-size: 16px;
}

button {
    position: absolute;
    width: 100px;
    left: 50%;
    transform: translateX(-50%);
    color: #555;
    background: none;
    border: none;
    font-family: Lato;
    font-size: 10px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

button:hover { font-weight: 600; }
button:hover i { margin-right: 10px; }

button:focus {
    outline: none;
}

i {
    color: #EB4D4D;
    display: inline-block;
    margin-right: 8px;
    font-size: 16px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -2px;
    transition: margin 0.3s;
}

.btn-new { top: 23px;}
.btn-roll { top: 203px;}
.btn-hold { top: 234px;}

.dice {
    position: absolute;
    left: 50%;
    top: 90px;
    transform: translateX(-50%);
    height: 50px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}

.winner { background-color: #f7f7f7; }
.winner .player-name { font-weight: 300; color: #EB4D4D; }